<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
    {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'visualapp/lib/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'visualapp/lib/css/dashboards.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'visualapp/lib/css/dc.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'visualapp/css/custom.css' %}" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>



</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid"> 
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Canada Precipitation Dashboard</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

          <!-- Map -->  
     <div class="col-sm-6" >
        <div class="chart-wrapper">
          <div class="chart-title">
            Distribution of precipitation in Canada
          </div>
          <div class="chart-stage">
            <div id="canada-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

      <div class="col-sm-6">
        <div class="row">
 

          <!-- Season Chart-->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Precipitation in season level
                    <span>
          <a class="reset"
            href="javascript:seasonTypeChart.filterAll();dc.redrawAll();"
            style="display: none;">
            reset
          </a>
        </span>
                 </div>
                <span>
          <a class="reset"
            href="javascript:dayOfWeekChart.filterAll();dc.redrawAll();"
            style="display: none;">
            reset
          </a>
        </span>

              <div class="chart-stage" >
                <div id="season-level-row-chart"></div>
              </div>
            </div>
          </div>
          <!--  Season Chart -->

          <!-- Monthly Chart -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Precipitation in month level
                  <span>
          <a class="reset"
            href="javascript:dayOfWeekChart.filterAll();dc.redrawAll();"
            style="display: none;">
            reset
          </a>
        </span>

              </div>
              <div class="chart-stage">
                <div id="month-level-line-chart"></div>
              </div>
            </div>
          </div>
          <!-- Monthly Chart -->
		  
		        <!-- Metric 1 -->
      <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            From Year
               </div>
          <div class="chart-stage">
            <div id="from-year"></div>
          </div>
        </div>
         </div>

               <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
           To Year
               </div>
          <div class="chart-stage">
            <div id="to-year"></div>
          </div>
        </div>
         </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Precipitation in mm
          </div>
          <div class="chart-stage">
            <div id="avg-preciption"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

        </div>
      </div>

      
          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Time line               </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart -->



    </div>

  </div>

  <div>
    
    
   </div>

  <script src="{% static 'visualapp/lib/js/jquery.min.js' %}"></script>
  <script src="{% static 'visualapp/lib/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'visualapp/lib/js/crossfilter.js' %}"></script>
  <script src="{% static 'visualapp/lib/js/d3.js' %}"></script>
  <script src="{% static 'visualapp/lib/js/dc.js' %}"></script>
  <script src="{% static 'visualapp/lib/js/queue.js' %}"></script>
  <script src="{% static 'visualapp/js/graphs.js' %}"></script>
  <script src="{% static 'visualapp/lib/js/dashboard.min.js' %}"></script>
</body>
</html>